.slideevent_wrap{
    width: 100%;    
    height: 100%;
}

.event2_deleteList_wrap{
    
}

/* .event2_deleteList_container{
    display: grid;
   
} */

.event2_deleteList_image{
    width: 80px;
    height: 50px;
}