.paging_wrap{
    display: inline-block;
    width: 100%;
    height: 300px;
}

.page_prev {
    cursor: pointer;
}

.page_next {
    cursor: pointer;
}

.paging_pagenum_div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.paging_pagenum_div span{
    display: inline-block;
    margin: 10px;
}

.currpagenum{
    color: #FE7CF3;
}