.CartMenuUl {
    display: flex;
    justify-content: space-evenly;
    font-size: 17px;
    color: gray;
    padding-top: 30px;
    list-style-type: none;
    padding: 0;
}


.CartMenuUl li {
    display: inline-block;
    padding-right: 40px;
}

.CartMenuUl li:nth-child(2) {
    width: 400px;
    text-align: center;
}