.listform_wrap{
   width: 90%;
   max-height: 700px;
   margin: 5px auto;
   overflow: auto;
   border-radius: 20px;
}

.listform_wrap::-webkit-scrollbar {
   width: 6px;  /* 스크롤바의 너비 */
   
}

.listform_wrap::-webkit-scrollbar-thumb {
   height: 10%; /* 스크롤바의 길이 */
   background: gainsboro; /* 스크롤바의 색상 */
   border-radius: 80px;
}

.listform_wrap::-webkit-scrollbar-track {
   background: rgba(243, 247, 253, 0.37);  /*스크롤바 뒷 배경 색상*/
   height: 90%;
}

.listform_column_wrap{
   background: white;
}


.listform_table{
   background: #94939385;
   border-collapse: collapse;
   color: #fff;
   width: 100%;
}

.listform_table th, .listform_table td {
   padding: 10px;
   border-bottom: 1px solid #a19898;
   border-width: 90%;
   max-width: 200px;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
}

.listform_table th {
   position: sticky;
   top: 0; 
   background: #060607;
   z-index: 9;
   align-items: baseline;
   color: gainsboro;
   text-align: left;
   min-width: 100px;
}

.listform_table td{
   font-size: 16px;
   color: #fff;
   /* padding-left: 20px; */
}

.listform_table th i{
   float: right;
}

.listform_pagenation{
   margin: 10px auto;
   text-align: center;
}

.listform_pagenation>*{
   margin: 0 5px;
   color: gainsboro;
}

.listform_pagenation > i.two{
   color: #FE7CF3;
}

.listform_pagenation > i.one{
   color: #7de4ff;
}

.status{
   display: inline-block;
   width: 80%;
   border-radius: 5px;
   display: flex;
   align-items: center;
   justify-content: center;
}

.status > span {
   font-size: 12px;
}

.status span{
   margin: 4px;
}

.xi-trash{
   color: gainsboro;
}

.xi-pen-o{
   color: gainsboro;
}