.CartListFrombox {
    border-top: 2px solid rgb(34, 33, 33);
    margin: 20px auto 0;
    border-bottom: 2px solid rgb(34, 33, 33);
    height: 300px;
}

.CartListFrombox>ul {
    display: flex;
    justify-content: space-evenly;
}

.popkornBtnbox {
    display: flex;
    justify-content: flex-end;
    padding-top: 20px;
}

.cartPrice {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 50px;
}